.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    display: inline-block;
}
.circle {
    border-radius: 50%;
    height: 25rem;
    width: 25rem;
}
.pulse {
    animation-name: pulse-scale;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.clock-root {
    position: relative;
}
.rotate-y-z-positive {
    animation-name: rotate-y-z-positive;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.rotate-y-z-negative {
    animation-name: rotate-y-z-negative;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.animation-container {
    display: inline-block;
    position: relative;
}
.on-top {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
}
.red-border {
    border: solid red;
}
.green-border {
    border: solid green;
}
.delayed-pulse {
    animation-delay: 0.5s;
}
@keyframes pulse-scale {
    0% {
        opacity: 0;
        transform: scale(0.5, 0.5);
    }
    50% {
        opacity: 1;
        transform: scale(1, 1);
    }
    100% {
        opacity: 0;
        transform: scale(0.5, 0.5);
    }
}
@keyframes rotate-y-z-positive {
    0% {
        transform: rotate3d(0, 1, 1, 0turn); /* Needed for firefox */
    }
    100% {
        transform: rotate3d(0, 1, 1, 1turn);
    }
}
@keyframes rotate-y-z-negative {
    0% {
        transform: rotate3d(0, -1, -1, 0turn); /* Needed for firefox */
    }
    100% {
        transform: rotate3d(0, -1, -1, 1turn);
    }
}
.seconds-hand-container {
    animation-name: clock-hand-rotate;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 100%;
    height: 100%;
    position: absolute;
}
.minutes-hand-container {
    animation-name: clock-hand-rotate;
    animation-duration: 3600s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
}
.hand {
    margin-left: 50%;
    margin-top: 50%;
}
@keyframes clock-hand-rotate {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
