<div class="flex-container">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title i18n>Pulse animation</mat-card-title>
        </mat-card-header>
        <div class="animation-container">
            <div class="circle pulse red-border"></div>
        </div>
    </mat-card>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title i18n>Double pulse animation</mat-card-title>
        </mat-card-header>
        <div class="animation-container">
            <div class="circle pulse red-border"></div>
            <div class="circle pulse delayed-pulse green-border on-top"></div>
        </div>
    </mat-card>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title i18n>Clock animation</mat-card-title>
        </mat-card-header>
        <div class="animation-container">
            <div class="circle clock-root green-border">
                <div class="seconds-hand-container">
                    <hr class="hand" />
                </div>
                <div class="minutes-hand-container">
                    <hr class="hand" />
                </div>
            </div>
        </div>
    </mat-card>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title i18n>Rotating circles</mat-card-title>
        </mat-card-header>
        <div class="animation-container">
            <div class="circle rotate-y-z-positive red-border"></div>
            <div class="circle rotate-y-z-negative green-border on-top"></div>
        </div>
    </mat-card>
</div>