<form (ngSubmit)="addSchedule()">
    <mat-form-field appearance='outline'>
        <input #durationInput matInput type="number" placeholder="Duration" [(ngModel)]="duration" required name="duration">
    </mat-form-field>
    <mat-form-field appearance='outline'>
        <input matInput type="date" placeholder="Date" [(ngModel)]="date" required name="date">
    </mat-form-field>
    <mat-form-field appearance='outline'>
        <mat-select name="selected-schedule" [(ngModel)]="addFromScheduleId">
            <mat-option *ngFor="let schedule of scheduleList" [value]="schedule.id">
                {{schedule.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-stroked-button type="submit" i18n>New Schedule</button>
</form>