<div id='scroller-container'>
    <div class='scroller'>
        <h2 #fancytextdisappears i18n>My fancy text</h2>
        <div class="card-container" *ngFor="let image of images">
            <mat-card #rotatingimage>
                <mat-card-title>
                    {{image.title}}
                </mat-card-title>
                <img mat-card-image src={{image.path}} />
            </mat-card>
        </div>
    </div>
</div>