#scroller-container {
    width: 100%;
    overflow-x: hidden;
}
h2 {
    text-align: center;
}
.scroller {
    top: 20rem;
    width: 100%;
}
.card-container {
    perspective: 100rem; /* needed for *child* 3d transformations */
}