<app-add-schedule></app-add-schedule>
<div *ngFor="let schedule of scheduleList">
    <a [routerLink]="" (click)="openSchedule(schedule.schedule_id)">{{schedule.department_name}}: {{schedule.start}}</a>
    <span class="material-icons md-18" (click)="deleteSchedule(schedule.schedule_id)" i18n>delete</span>
</div>