/* Should use theme? Also, fix light theme color */
/* a:link {
    color: rgba(255, 255, 255, 0.7);
}
a:visited {
    color: rgba(255, 255, 255, 0.12);
}
a:hover {
    color: #ffffff;
} */
.material-icons {
    cursor: pointer;
}