<canvas #canvas (mousedown)="clickStart($event)" width="420" height="420"></canvas>
<button mat-raised-button (click)="predict()">Predict</button>
<button mat-raised-button (click)="clear()">Clear</button>
<p>Prediction: {{prediction}}</p>