<div>
    <mat-list>
        <h3 matSubheader>Name: {{name}}</h3>
        <h3 matSubheader>Work preferences:</h3>
        <mat-list-item *ngFor="let preference of existing_work_preferences">
            <span>start: {{preference.start}}, end: {{preference.end}}, repeats: {{preference.repeats}}, is_work:
                {{preference.is_work}}</span><span class="material-icons md-18"
                (click)="deleteWorkPreference(preference.id)">delete</span>
        </mat-list-item>
    </mat-list>
</div>
<form (ngSubmit)="submit(workPreferenceForm)" #workPreferenceForm="ngForm">
    <mat-form-field appearance='outline'>
        <input matInput type="date" placeholder="Starting" [(ngModel)]="work_preference.start" required
            name="start-date">
    </mat-form-field>
    <mat-form-field appearance='outline'>
        <input matInput type="date" placeholder="Ending" [(ngModel)]="work_preference.end" required name="end-date">
    </mat-form-field>
    <mat-form-field appearance='outline'>
        <mat-select name="repeats" [(ngModel)]="work_preference.repeats">
            <mat-option *ngFor="let values of repeatsValues" [value]="values">
                {{values}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-checkbox [(ngModel)]="work_preference.is_work" name="is-work">Is Work</mat-checkbox>
    <button mat-button type="submit" [disabled]="!workPreferenceForm.form.valid">
        Submit
    </button>
</form>