<p>Remove person from schedule</p>
<button mat-button (click)="remove(RemoveType.Schedule)" cdkFocusInitial i18n>Remove from Schedule</button>
<button mat-button (click)="remove(RemoveType.Permanent)" cdkFocusInitial i18n>Permanent</button>
<button mat-button (click)="remove(RemoveType.None)" i18n>No</button>
