<div *ngIf="isLoading; else: notLoading">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<ng-template #notLoading>
    <button mat-stroked-button color="primary" (click)="goToPlansPage()">
        <mat-icon class="material-icons"> arrow_back </mat-icon>
    </button>
    <button mat-stroked-button (click)="goToMap()" i18n>Show on map</button>
    <div *ngIf="plan == null || plan.steps.length == 0; else: notEmpty">
        <mat-card>
            <mat-card-title i18n>You don't have any steps yet!</mat-card-title>
        </mat-card>
    </div>
    <ng-template #notEmpty>
        <div class="step-container">
            <div *ngFor="let item of plan.steps; index as i">
                <app-step [isPublic]="isPublic" [step]="item" [index]="i" (deleteStep)="deleteStep($event)"></app-step>
                <img class="steps-img" src="assets/svg/footsteps-silhouette-variant.svg" alt="steps">
            </div>
            <p class="footer-text">Your next adventure...</p>
        </div>
    </ng-template>
</ng-template>
<app-add-step [isPublic]="isPublic"></app-add-step>
<div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a
        href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>