.step-container {
    display: flex;
    flex-direction: column;
}
.steps-img {
    width: 5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: rotateZ(180deg);
}
.footer-text {
    text-align: center;
}