<div id="spinner-parent" *ngIf="isLoading; else loaded">
    <mat-progress-spinner
        diameter="56"
        mode="indeterminate"
    ></mat-progress-spinner>
</div>
<ng-template #loaded>
    <button mat-button (click)="loginOut()">{{ loginText }}</button>
</ng-template>
