<mat-card>
    <mat-list *ngIf="currentWeather$ | async as currentWeather">
        <mat-list-item class="title" i18n>
            <b>
                {{ currentWeather.name }} weather
            </b>
        </mat-list-item>
        <mat-list-item i18n>
            Weather: {{ currentWeather.weather[0].description }}
        </mat-list-item>
        <mat-list-item i18n>
            Current temperature:
            <span class="weather-data">{{ currentWeather.main.temp }}&#8451;</span>
        </mat-list-item>
        <mat-list-item i18n>
            Humidity:
            <span class="weather-data">{{ currentWeather.main.humidity }}%</span>
        </mat-list-item>
        <mat-list-item i18n>
            Min temperature:
            <span class="weather-data">{{ currentWeather.main.temp_min }}&#8451;</span>
        </mat-list-item>
        <mat-list-item i18n>
            Max temperature:
            <span class="weather-data">{{ currentWeather.main.temp_max }}&#8451;</span>
        </mat-list-item>
    </mat-list>
    <div #gmap id="gmap" [hidden]="!isMapVisible"></div>
    <div [ngClass]="weatherLocationEntry">
        <form>
            <mat-form-field>
                <input matInput placeholder="City" #city i18n-placeholder/>
            </mat-form-field>
        </form>
        <!-- (click) passes input value to add() and then clears the input -->
        <div class="weather-button-container">
            <button mat-raised-button color="primary" class="weather-button" (click)="getWeather(city.value); city.value=''" i18n>
                Show weather
            </button>
            <button mat-raised-button color="primary" class="weather-button" (click)="findLocation()" i18n>
                Use my location
            </button>
        </div>
    </div>
</mat-card>