<form *ngIf="!isPublic" (ngSubmit)="onSubmit(planForm)" #planForm="ngForm" appStepValidation>
    <div>
        <mat-form-field>
            <input type="text" matInput placeholder="Place text here" [(ngModel)]="planstep.content" name="content" />
        </mat-form-field>
        <mat-form-field [style.display]="needsLocation ? 'inline-block' : 'none'">
            <!-- The key that allows an input element to be noticed as an Angular 4 
                element and registered to the NgForm component is the NgModel directive. 
                https://www.toptal.com/angular-js/angular-4-forms-validation -->
            <input #googleAutoComplete type="text" matInput placeholder="City location here" name="location" ngModel />
        </mat-form-field>
        <button type="submit" mat-button [disabled]="!planForm.valid" i18n>
            Add step
        </button>
    </div>
    <section class="checkbox">
        <!-- unique name is required for two-way binding -->
        <mat-checkbox [(ngModel)]="needsText" name="needsText" i18n>Text</mat-checkbox>
        <mat-checkbox [(ngModel)]="needsLocation" name="hasLocation" i18n>Location</mat-checkbox>
    </section>
</form>