<mat-card *ngFor="let item of plans">
    <mat-card-title>{{item.title}}</mat-card-title>
    <mat-card-content>{{item.content}}</mat-card-content>
    <mat-card-actions>
        <button (click)="gotoPlan(item)" mat-button i18n>Open</button>
    </mat-card-actions>
</mat-card>