<form (ngSubmit)="onSubmit(planForm)" #planForm="ngForm">
    <div>
        <mat-form-field>
            <input type="text" matInput placeholder="Place title here" required [(ngModel)]="plan.title" name="title">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input type="text" matInput placeholder="Place content here" required [(ngModel)]="plan.content" name="content">
        </mat-form-field>
        <button type="submit" mat-button [disabled]="!planForm.form.valid" i18n>Submit</button>
    </div>
</form>