nav a {
    margin: 0.2rem;
}
.router-outlet-container {
    padding: 1rem;
}
#login {
    float: right;
}
#title {
    color: steelblue;
    display: inline;
}
.material-icons {
    cursor: pointer;
}
.main-content-container {
    max-width: 143rem;
    margin: 0 auto !important;
    padding: 3rem;
    height: 100%;
    overflow: visible;
}
