<div class="main-content-container">
    <h1 id="title" i18n>Welcome to {{ title }}!</h1>
    <i class="material-icons" (click)="addToHome()" *ngIf="shouldShowAddToHomeButton">
        add_to_home_screen
    </i>
    <nav>
        <a mat-raised-button color="primary" routerLink="/dashboard" i18n>Dashboard</a>
        <a mat-raised-button color="primary" routerLink="/animations" i18n>Animations</a>
        <a mat-raised-button color="primary" routerLink="/schedule" i18n>Schedule</a>
        <a mat-raised-button color="primary" routerLink="/fancyscroll" i18n>Fancy Scroll</a>
        <a mat-raised-button color="primary" routerLink="/plan" i18n>Trip Plan</a>
        <a mat-raised-button color="primary" routerLink="/ai" i18n>AI</a>
        <a mat-raised-button color="primary" routerLink="/settings" i18n>Settings</a>
        <app-button-login id="login"></app-button-login>
    </nav>
    <div class="router-outlet-container">
        <router-outlet></router-outlet>
    </div>
    <app-messages *ngIf="!environment.production"></app-messages>
</div>