<app-schedule-list></app-schedule-list>
<div>
    <app-calendar-view></app-calendar-view>
</div>
<div>
    <p>Add/remove person with/without email (for admin only)</p>
    <app-add-person></app-add-person>
</div>