<mat-card class="mat-elevation-z0">
    <mat-card-header>
        <mat-card-title>{{index+1}}. {{step.location?.name}}</mat-card-title>
    </mat-card-header>
    <div *ngIf="step.location" #gmap id="gmap"></div>
    <mat-card-content><p class="card-content">{{ step.content }}</p></mat-card-content>
    <mat-card-actions>
        <!-- TODO: fix isPublic -->
        <button *ngIf="!isPublic" (click)="onDeleteStep()" mat-button i18n>Delete</button>
    </mat-card-actions>
</mat-card>