.mat-cell, .mat-footer-cell {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    justify-content: center;
}

.mat-header-cell {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons, .pointer {
    cursor: pointer;
}

.weekend {
    background-color: gray;
}

.mat-row:hover {
    background-color: steelblue;
}

.calendar-container {
    overflow-x: auto;
}

.work {
    background-color: green;
}

.vacation {
    background-color: red;
}