<p>Number of people: {{numberOfPeople}}</p>
<div class="calendar-container">
    <div *ngIf="isLoading; else loaded">
        <mat-progress-spinner diameter="100" mode="indeterminate"></mat-progress-spinner>
    </div>
    <ng-template #loaded>
        <ng-container *ngIf="hasSchedules; else noSchedules">
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                <ng-container *ngFor="let column of displayedColumns" matColumnDef="{{column}}">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
                    <td mat-cell *matCellDef="let person; let i = index" class="{{getDayType(column)}} {{person[column]?.preference}}">
                        <mat-select (selectionChange)="updateCell($event, column, person)"
                            *ngIf="column != 'name'; else text" [value]="person[column]?.type">
                            <mat-option *ngFor="let option of options" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-select>
                        <ng-template #text>
                            <p><span (click)="viewPerson(person)" class="pointer">{{person[column]}}</span><span class="material-icons md-18"
                                    (click)="deleteRow(person)" i18n>delete</span>
                        </ng-template>
                    </td>
                    <td mat-footer-cell *matFooterCellDef>
                        <p *ngIf="column == 'name'; else data">
                            {{summary[column]}}
                        </p>
                        <ng-template #data>
                            <p>D: {{summary[column] ? summary[column].d : 0}}</p>
                            <p>E: {{summary[column] ? summary[column].e : 0}}</p>
                            <p>N: {{summary[column] ? summary[column].n : 0}}</p>
                            <p>E1: {{summary[column] ? summary[column].e1 : 0}}</p>
                            <p>E2: {{summary[column] ? summary[column].e2 : 0}}</p>
                        </ng-template>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
            </table>
        </ng-container>
    </ng-template>
    <ng-template #noSchedules>
        <p i18n>There are currently no schedules</p>
    </ng-template>
</div>