<div id="spinner-parent" *ngIf="isLoading">
    <mat-progress-spinner
        diameter="56"
        mode="indeterminate"
    ></mat-progress-spinner>
</div>
<div *ngIf="!isLoading">
    <div *ngIf="!isLoggedIn; else: signout">
        <div #signin id="signin"></div>
    </div>
    <ng-template #signout>
        <div id="name">{{ userName }}</div>
        <i
            class="material-icons"
            matTooltip="Signing out doesn't completely sign out of google." i18n
        >
            info
        </i>
    </ng-template>
</div>
