<div *ngIf="messageService.messages.length">

    <h2 i18n>Messages</h2>
    <button mat-raised-button color="primary" (click)="messageService.clear()" i18n>clear</button>
    <div *ngFor='let message of messageService.messages'> {{message}} </div>

</div>