/* MessagesComponent's private CSS styles */
h2 {
    color: red;
    font-weight: lighter;
}
body {
    margin: 2rem;
}
body,
input[text],
button {
    color: crimson;
}

button.clear {
    background-color: #eee;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    cursor: pointer;
    cursor: hand;
}
button:hover {
    background-color: #cfd8dc;
}
button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}
/*
  Copyright 2017-2018 Google Inc. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at http://angular.io/license
  */
