<form (ngSubmit)="submit(personForm)" #personForm="ngForm">
    <div>
        <mat-form-field appearance='outline'>
            <input matInput type="text" placeholder="Name" [(ngModel)]="newPerson.name" name="name">
        </mat-form-field>
        <mat-form-field appearance='outline'>
            <mat-select name="selected-name" [(ngModel)]="newPerson.id">
                <mat-option *ngFor="let person of people" [value]="person.id">
                    {{person.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance='outline'>
            <input matInput type="number" placeholder="Hours per week" [(ngModel)]="newPerson.work_week_hours"
                required name="work_week_hours">
        </mat-form-field>
    </div>
    <mat-radio-group aria-label="Pick work schedule type" [(ngModel)]="newPerson.schedule_type"
        name="work-schedule-length" required>
        <mat-radio-button class="example-radio-button" *ngFor="let type of scheduleTypes | keyvalue"
            [value]="type.value">
            {{type.key}}
        </mat-radio-button>
    </mat-radio-group>
    <button mat-button type="submit" [disabled]="!personForm.form.valid" i18n>
        Submit
    </button>
</form>