<div *ngIf="isLoading; else facebookButton">
    <mat-progress-spinner
        diameter="56"
        mode="indeterminate"
    ></mat-progress-spinner>
</div>
<ng-template #facebookButton>
    <div
        id="fb-login-button"
        class="fb-login-button"
        data-max-rows="1"
        data-size="large"
        data-button-type="continue_with"
        data-show-faces="false"
        data-auto-logout-link="false"
        data-use-continue-as="false"
    ></div>
</ng-template>
