.stock-chart-container {
    position: relative;
}
.stock-symbol-button-parent {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.mat-list-item {
    width: auto !important;
}

.stock-symbol-realtime {
    text-align: center;
}
.stock-symbol-realtime > * {
    display: inline-block;
    width: auto;
}
