<mat-card>
    <mat-list class="stock-symbol-realtime">
        <mat-list-item *ngFor="let stockSymbol of batchStockSymbols | keyvalue">
            {{stockSymbol.key}}: {{stockSymbol.value}}
        </mat-list-item>
    </mat-list>
    <div class="stock-chart-container">
        <canvas #myChart></canvas>
    </div>
    <!-- TODO: replace with toggle buttons -->
    <mat-list class="stock-symbol-button-parent">
        <mat-list-item *ngFor="let stockSymbol of stockSymbols | keyvalue">
            <button mat-button (click)="stockButtonClick(stockSymbol.key);" [disabled]=!stockSymbol.value>
                {{stockSymbol.key}}
            </button>
        </mat-list-item>
    </mat-list>
    <form>
        <mat-form-field>
            <input matInput placeholder="Stock Symbol" #symbol i18n-placeholder/>
        </mat-form-field>
    </form>
    <div>
        <button mat-raised-button color="primary" (click)="getStocksTimeSeriesDaily(symbol.value);" i18n>Show daily stocks</button>
    </div>
</mat-card>