/* DashboardComponent's private CSS styles */
/* Create columns using flex display */
.flex-container {
    display: flex;
}
.flex-container > * {
    flex-grow: 1;
}
/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
    .flex-container {
        display: block;
    }
}
