/* You can add global styles to this file, and also import other style files */
* {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
mat-card {
    margin: 0.5rem;
}
:root {
    font-size: 62.5%;
}
html {
    height: 100%;
}
body {
    font-size: 1.6rem;
    overflow-x: hidden;
    margin: 0rem;
    height: 100%;
}
@media screen and (max-width: 650px) {
    body {
        padding: 1.5rem;
    }
}
