@use '@angular/material' as mat;
// Source: https://material.angular.io/guide/theming
@import '@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat.core();

// Define the default theme (same as the example above).
$light-primary: mat.define-palette(mat.$indigo-palette);
$light-accent:  mat.define-palette(mat.$pink-palette, A200, A100, A400);
$light-theme:   mat.define-light-theme($light-primary, $light-accent);

// Include the default theme styles.
@include mat.all-component-themes($light-theme);
a {
  color: mat.get-color-from-palette($light-accent)
}


// Define an alternate dark theme.
$dark-primary: mat.define-palette(mat.$grey-palette);
$dark-accent:  mat.define-palette(mat.$amber-palette, A200, A100, A400);
$dark-warn:    mat.define-palette(mat.$deep-orange-palette);
$dark-theme:   mat.define-dark-theme($dark-primary, $dark-accent, $dark-warn);

// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.dark-theme` will be affected by this alternate dark theme instead of the default theme.
.dark-theme {
  @include mat.all-component-themes($dark-theme);
  a {
    color: mat.get-color-from-palette($dark-accent)
  }
}