<div *ngIf="(isLoading$ | async); else notLoading">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<ng-template #notLoading>
    <div *ngIf="(planChanged$ | async).length == 0; else notEmpty">
        <mat-card>
            <mat-card-title i18n>You don't have any plans yet!</mat-card-title>
        </mat-card>
    </div>

    <ng-template #notEmpty>
        <mat-card *ngFor="let item of (planChanged$ | async)">
            <mat-card-title>{{ item.title }}</mat-card-title>
            <mat-card-content>{{ item.content }}</mat-card-content>
            <mat-card-actions>
                <button (click)="gotoPlan(item)" mat-button i18n>Open</button>
                <button (click)="deletePlan(item)" mat-button i18n>Delete</button>
                <button
                    *ngIf="!item.isLocal && !item.is_public"
                    (click)="makePlanPublic(item)"
                    mat-button i18n
                >
                    Make Public
                </button>
                <button
                    *ngIf="item.is_public"
                    (click)="makePlanPrivate(item)"
                    mat-button i18n
                >
                    Make Private
                </button>
                <button
                    *ngIf="item.isLocal"
                    (click)="uploadPlan(item)"
                    mat-button i18n
                >
                    Upload
                </button>
            </mat-card-actions>
        </mat-card>
    </ng-template>
</ng-template>
