<div>
    <mat-radio-group class="theme-radio-group" [(ngModel)]="selectedTheme">
        <mat-radio-button
            class="theme-radio-button"
            *ngFor="let theme of themes"
            [value]="theme.value"
            (change)="setTheme($event)"
        >
            {{ theme.name }}
        </mat-radio-button>
    </mat-radio-group>
    <mat-radio-group class="theme-radio-group" [(ngModel)]="selectedLanguage">
        <mat-radio-button
            class="theme-radio-button"
            *ngFor="let language of languages"
            [value]="language.value"
            (change)="setLanguage($event)"
        >
            {{ language.name }}
        </mat-radio-button>
    </mat-radio-group>
</div>
